.tweets-container {
    width: 50%;
    margin: 10px auto;
  }
  h3 {
    margin-bottom: 5px;
    
  }
  .tweet {
    border-top: solid #d18dc6ea;
    margin-top: 10px;
    padding-top: 20px;
  }
  .main-box {
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    background-color:#ffddf4ea
  }
  .time {
    display: flex;
    justify-content: flex-end;
  }

  .bd-placeholder-img　{  color: white;}